
.direnv
node_modules/
bin/
dist/
build/
public/
newman/
.idea
.DS_Store
.#*

__pycache__/
.envrc
.idea/
.venv/

functionaltest-report.xml
smoketest-report.xml
.env
.dir-locals.el
*.pyc
*-report.xml
*.key
*.pem
/.vscode
